snippet iml "import module"
import ${1} from '${2}';
endsnippet

snippet t "jsx tag"
<${1:div}>$0</${1/(\w+).*/$1/}>
endsnippet

snippet ti "jsx inline tag"
<${1:div}/>
endsnippet

snippet i "import module"
import ${1} from '${2}'
endsnippet
